<div class="footer">

{% if forum is defined %}
Permissions:
	<img class="icon" src="{{ asset('images/magnifying_glass.png') }}" title="View" alt="View" />
	<img class="icon" src="{{ asset('images/edit.png') }}" title="Edit" alt="Edit" />
	<img class="icon" src="{{ asset('images/scott_kirkwood_scales.png') }}" title="Moderate" alt="Moderate" />
{% endif %}

</div>