<div id="header">
	<table width="90%" align="center">
		<tr>
			<td>
				{% if is_granted("ROLE_USER") %}
					{{ app.user.displayName }}
					(<a href="{{ path('logout') }}">Log Out</a>)
				{% else %}
					<a href="{{ path('login') }}">Log In</a>
				{% endif %}
			</td>
{% if app.user|loggedIn %}
			<td>
				<a href="{{ path('user_profile_view', { 'username' : app.user.username }) }}">Profile</a>
			</td>
{% endif %}
		</tr>
	</table>
</div>