<div id="header" class="container">
	<div class="row">
		<div class="tencol">
			{% if is_granted("ROLE_USER") %}
				{{ app.user.displayName }}
				(<a href="{{ path('logout') }}">Log Out</a>)
			{% else %}
				<a href="{{ path('login') }}">Log In</a>
			{% endif %}
		</div>
{% if app.user|loggedIn %}
		<div class="twocol last">
			<a href="{{ path('user_profile_view', { 'username' : app.user.username }) }}">Profile</a>
		</div>
{% endif %}
	</div>
</div>
