{% extends '::base.html.twig' %}

{% block body %}

{% include 'DLauritzForumContentBundle::nav.html.twig' with { 'forum' : null, 'first' : false } %}

<div class="container">

	<div class="row">
		<div class="twelvecol last"><h2>Forums</h2></div>
	</div>

{% for forum in forums %}
	<div class="row">
		<div class="twelvecol last">
			<a href="{{ path('view_forum', 
						{ 'id' : forum.id } ) 
					 }}">{{ forum.name }}</a>
		</div>
	</div>
{% else %}
	<div class="row">
		<div class="twelvecol last">No Forums</div>
	</div>
{% endfor %}
</div>

{% endblock %}
