{% extends '::base.html.twig' %}

{% block body %}

{% if error %}
	<div class="error">{{ error.message }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="POST">
	<label for="username">Username:</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" />
	
	<label for="password">Password:</label>
	<input type="password" id="password" name="_password" />
	
	<button type="submit">Log In</button>
</form>

{% if app.debug %}
Hash: {{ hashme }}
{% endif %}

{% endblock %}
